<header>
  <header class="gucci_header text-light" onscroll="toggleClassNav()">
    <h1 id="logo">GUCCI</h1>
    <div class="buttonHeaderBorse">
      <h2 id="borseHeader">Borse</h2>
      <div id="buttonExploreCollection" class="bg-light text-dark mt-4">
        ESPLORA LA COLLEZIONE
      </div>
      <div
        class="animationForMobile d-flex justify-content-center d-md-none d-lg-none"
      >
        <div class="pe-2">scorri per scoprire di piu</div>

        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
            />
          </svg>
        </div>
      </div>
    </div>
  </header>
</header>
