<footer class="text-light">
  <div class="d-flex flex-column-reverse flex-md-row flex-lg-row">
    <div class="listFooter ms-5 flex-size">
      <ul>
        <li><p class="text-secondary pt-5">POSSIAMO AIUTARTI</p></li>
        <li><a class="text-light" href="#">Contattaci</a></li>
        <li><a class="text-light" href="#">Il mio ordine</a></li>
        <li><a class="text-light" href="#">Domande frequenti</a></li>
        <li>
          <a class="text-light" href="#">Disiscrizione Newsletter</a>
        </li>
        <li><a class="text-light" href="#">Mappa del sito</a></li>
        <li><a class="text-light" href="#">Garanzia Legale</a></li>
        <li><a class="text-light" href="#">Diritto di recesso</a></li>
      </ul>

      <ul>
        <li><p class="text-secondary pt-3">RICERCA NEGOZIO</p></li>
        <li><a class="text-light" href="#">Mappa del sito</a></li>
        <li><a class="text-light" href="#">Garanzia Legale</a></li>
        <li><a class="text-light" href="#">Diritto di recesso</a></li>
      </ul>
    </div>
    <div class="listFooter flex-size">
      <ul>
        <li><p class="text-secondary pt-5">POSSIAMO AIUTARTI</p></li>
        <li><a class="text-light" href="#">Contattaci</a></li>
        <li><a class="text-light" href="#">Il mio ordine</a></li>
        <li><a class="text-light" href="#">Domande frequenti</a></li>
        <li>
          <a class="text-light" href="#">Disiscrizione Newsletter</a>
        </li>
        <li><a class="text-light" href="#">Mappa del sito</a></li>
        <li><a class="text-light" href="#">Garanzia Legale</a></li>
        <li><a class="text-light" href="#">Diritto di recesso</a></li>
      </ul>
    </div>

    <!--Section with block of list (the same that you have up) up collapsed, that show itself when it's in mobile version-->
    <div class="sectionCollapseMobile d-block d-md-none d-lg-none">
      <div class="gap-1">
        <div
          class="buttonCollapse d-flex justify-content-between text-secondary pt-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample1"
          aria-expanded="false"
          aria-controls="collapseExample1"
        >
          <div>SERVIZI ESCLUSIVI</div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseExample1">
        <div class="card card-body bg-footer">
          <div class="ms-0">
            <ul class="p-0">
              <li><a class="text-light" href="#">Contattaci</a></li>
              <li><a class="text-light" href="#">Il mio ordine</a></li>
              <li><a class="text-light" href="#">Domande frequenti</a></li>
              <li>
                <a class="text-light" href="#">Disiscrizione Newsletter</a>
              </li>
              <li><a class="text-light" href="#">Mappa del sito</a></li>
              <li><a class="text-light" href="#">Garanzia Legale</a></li>
              <li><a class="text-light" href="#">Diritto di recesso</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sectionCollapseMobile d-block d-md-none d-lg-none">
      <div class="gap-1">
        <div
          class="buttonCollapse d-flex justify-content-between text-secondary pt-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample2"
          aria-expanded="false"
          aria-controls="collapseExample2"
        >
          <div>INFORMAZIONI AZIENADALI</div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="collapse" id="collapseExample2">
        <div class="card card-body bg-footer">
          <div class="ms-0">
            <ul class="p-0">
              <li><a class="text-light" href="#">Contattaci</a></li>
              <li><a class="text-light" href="#">Il mio ordine</a></li>
              <li><a class="text-light" href="#">Domande frequenti</a></li>
              <li>
                <a class="text-light" href="#">Disiscrizione Newsletter</a>
              </li>
              <li><a class="text-light" href="#">Mappa del sito</a></li>
              <li><a class="text-light" href="#">Garanzia Legale</a></li>
              <li><a class="text-light" href="#">Diritto di recesso</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sectionCollapseMobile d-block d-md-none d-lg-none">
      <div class="gap-1">
        <div
          class="buttonCollapse d-flex justify-content-between text-secondary pt-5"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample3"
          aria-expanded="true"
          aria-controls="collapseExample3"
        >
          <div>POSSIAMO AIUTARTI?</div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="collapse show" id="collapseExample3">
        <div class="card card-body bg-footer">
          <div class="ms-0">
            <ul class="p-0">
              <li><a class="text-light" href="#">Contattaci</a></li>
              <li><a class="text-light" href="#">Il mio ordine</a></li>
              <li><a class="text-light" href="#">Domande frequenti</a></li>
              <li>
                <a class="text-light" href="#">Disiscrizione Newsletter</a>
              </li>
              <li><a class="text-light" href="#">Mappa del sito</a></li>
              <li><a class="text-light" href="#">Garanzia Legale</a></li>
              <li><a class="text-light" href="#">Diritto di recesso</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--the end of list's block collapsed -->

    <div class="my-5 ps-4 flex-size">
      <p class="text-secondary pt-3">RICERCA NEGOZIO</p>
      <div class="d-flex justify-content-between">
        <div class="pt-3 pb-3">Paese/Regione/Città</div>
        <p class="pt-3 pb-3">></p>
      </div>
      <hr />
      <div>
        <p class="text-secondary pt-3">
          REGISTRATI PER RICEVERE AGGIORNAMENTI SU GUCCI
        </p>
        Inserendo il tuo indirizzo e-mail, acconsenti a ricevere le newsletter
        Gucci relative alle ultime collezioni, agli eventi e alle campagne del
        brand. Per maggiori informazioni consulta la nostra
        <a class="text-light" href="#">Informativa a tutela della privacy </a>.
      </div>
      <div class="d-flex justify-content-between align-items-center pt-3">
        <div class="pt-3 pb-3">Indirizzo Mail</div>
        <p class="pt-3 pb-3">></p>
      </div>
      <hr />
      <div class="d-none d-md-block d-lg-block">
        <p class="text-secondary pt-3">LINGUA</p>
        <p><a class="text-light" href="#">ITALIANO</a></p>
        <p class="text-secondary pt-3">PAESE/REGIONE</p>
        <p><a class="text-light" href="#">ITALIA</a></p>
      </div>
    </div>
  </div>
  <div class="d-block d-md-none d-lg-none ps-4 pt-5">
    <p class="text-secondary pt-3">LINGUA</p>
    <p><a class="text-light" href="#">ITALIANO</a></p>
    <p class="text-secondary pt-3">PAESE/REGIONE</p>
    <p><a class="text-light" href="#">ITALIA</a></p>
  </div>

  <div class="containerBrands d-flex ps-5 mt-5">
    <div class="logoFooter">
      <img class="w-100" src="../../assets/pngLogo.png" alt="logo_Gucci" />
    </div>
    <div class="logoFooter">
      <img class="w-100" src="../../assets/pngLogo.png" alt="logo_Gucci" />
    </div>
    <div class="logoFooter">
      <img class="w-100" src="../../assets/pngLogo.png" alt="logo_Gucci" />
    </div>
    <div class="logoFooter">
      <img class="w-100" src="../../assets/pngLogo.png" alt="logo_Gucci" />
    </div>
  </div>
  <p class="containerBrands ps-5 pt-5 ms-4 mb-0">
    © 2016 - 2021 Guccio Gucci S.p.A. - Tutti i Diritti Riservati. G Commerce
    Europe S.p.A. - IT VAT nr 05142860484. LICENZA SIAE N. 2294/I/1936 e
    5647/I/1936
  </p>

  <div id="gucciFooter">GUCCI</div>
</footer>
<!--Footer end-->
