<section class="mt-5 pt-5">
  <h2 class="text-center fs-2 mb-5 pb-5">SERVIZI GUCCI</h2>
  <div
    id="containerVideos"
    class="d-flex flex-nowrap justify-content-around mt-5"
  >
    <figure>
      <div>
        <video autoplay muted>
          <source src="../../assets/video.mp4" type="video/mp4" />
        </video>
      </div>
      <figcaption>
        <h5>PACKAGING</h5>
        <p>
          Scegli tra la nostra esclusiva borsa shopping online, la shopping bag
          della boutique o le confezioni minimaliste per dare al tuo ordine il
          tocco finale perfetto.
        </p>
        <a class="text-dark" href="#">Scopri le confezioni Gucci</a>
      </figcaption>
    </figure>
    <figure>
      <div>
        <video autoplay muted>
          <source src="../../assets/video.mp4" type="video/mp4" />
        </video>
      </div>
      <figcaption>
        <h5>PACKAGING</h5>
        <p>
          Scegli tra la nostra esclusiva borsa shopping online, la shopping bag
          della boutique o le confezioni minimaliste per dare al tuo ordine il
          tocco finale perfetto.
        </p>
        <a class="text-dark" href="#">Scopri le confezioni Gucci</a>
      </figcaption>
    </figure>
    <figure>
      <div>
        <video autoplay muted>
          <source src="../../assets/video.mp4" type="video/mp4" />
        </video>
      </div>
      <figcaption>
        <h5>PACKAGING</h5>
        <p>
          Scegli tra la nostra esclusiva borsa shopping online, la shopping bag
          della boutique o le confezioni minimaliste per dare al tuo ordine il
          tocco finale perfetto.
        </p>
        <a class="text-dark" href="#">Scopri le confezioni Gucci</a>
      </figcaption>
    </figure>
  </div>
</section>
