<section class="Container-fluid">
  <!--TODO: sintetizza le due card in un unica card e ricicla i dati-->
  <div *ngFor="let dataFirstSection of listDataFirstSection">
    <div id="sectionMW" class="row mt-3 text-light g-2">
      <div class="cardMW col-12 col-md-6 col-lg-6">
        <div class="w-100 section-ContainerMW">
          <img
            class="w-100"
            src="../../assets/{{ dataFirstSection.img }}"
            alt="img_uomo"
          />
        </div>
        <div
          class="containerSectionFirst d-flex flex-column align-items-center"
        >
          <div class="stickycontainer">
            <h4>{{ dataFirstSection.title }}</h4>
            <div class="buttonSectionMW">
              {{ dataFirstSection.typeSection }}
            </div>
            <div class="buttonSectionMWContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mb-5 pb-5 fw-bold">
    <p class="featured">FEATURED</p>
  </div>
</section>
